<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <connectionStrings>
    <!--<add name="PluginsSystemEntities" connectionString="metadata=res://*/ObjectModel.Database.Model.csdl|res://*/ObjectModel.Database.Model.ssdl|res://*/ObjectModel.Database.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PluginsSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/ObjectModel.Database.Model.csdl|res://*/ObjectModel.Database.Model.ssdl|res://*/ObjectModel.Database.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PluginsSystem;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Server=.\SQLEXPRESS;Database=myDataBase;Trusted_Connection=True;provider=System.Data.SqlClient;" />-->
  </connectionStrings>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
